#whiteKeysContainer{
    display: flex;
    width: 50%;
}

.whiteKey{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 15%;
    height: 50vh;
    background-color: white;
    margin: 0.5%;
}
.whiteKey:hover{
    background-color: lightslategrey;
}

#blackKeysContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 0 2%;
    position: absolute;
    width: 34%;
    margin-left: 1.2%;
    pointer-events: none;
}

.blackKey{
    display: inline-block;
    width: 7.5%;
    height: 30vh;
    justify-self: flex-start;
    background-color: rgb(0, 0, 0);
    margin-left: 10%;
    color: white;
    pointer-events: all;
}

.blackKey:nth-child(3){
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}

.blackKey:hover{
    background-color: lightslategray;
}