.whiteKeysContainer{
    display: flex;
    width: 50%;
}

.whiteKey{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50vh;
    background-color: white;
    margin: 0.5%;
    border-radius: 5%;
}
.whiteKey:hover{
    background-color: lightslategrey;
}

#octaveSpace{
    width: 5%;
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}

.blackKeysContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 0 2%;
    position: absolute;
    width: 35%;
    margin-left: 1.2%;
    pointer-events: none;
}

.blackKey{
    display: inline-block;
    width: 7.5%;
    height: 30vh;
    justify-self: flex-start;
    background-color: rgb(0, 0, 0);
    margin-left: 10%;
    color: white;
    pointer-events: all;
    border-radius: 5%;
}

.blackKey:nth-child(3){
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}

.blackKey:hover{
    background-color: lightslategray;
}


.keybind{
    height: 60%;
    align-self: center;
    display: flex;
    align-items: flex-end;
    opacity: 25%;
}

.notation{
    height: 40%;
    justify-self: flex-end;
    display: flex;
    align-items: flex-end;
}

.keybindB{
    opacity: 40%;
    margin-top: 200%;
}

.notationB{
    margin-top: 10%;
}

/* code for small screens */
@media screen and (max-width: 40em){
    #octaveSpace{
        display: block;
        width: 0;
    }
    .whiteKeysContainer{
        width: 90%;
    }
    .blackKeysContainer{
        width: 66%;
    }
    .blackKey:nth-child(3){
        opacity: 0;
        width: 7%;
        pointer-events: none;
        z-index: -100;
    }
}