body{
    background-color: rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header{
    background-color: gray;
}

nav{
    background-color: white;
}

main{
    margin: 0;
}

#pianoContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    width: 87%;
    margin-top: 5%;
    margin-bottom: 1%;
}

#octaveSelection{
    margin-left: 3%;
    width: 91%;
    display: flex;
    justify-content: space-around;
}

.octaveDropdown{
    display: inline-block;
}

.octaveDropdown button{
    width: 150%;
    display: block;
}

.dropdownContent{
    opacity: 0;
    pointer-events: none;
}

.dropdownMenu:hover + .dropdownContent,
.dropdownContent:hover {
    opacity: 1;
    pointer-events: all;
}