body{
    background-color: rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header{
    background-color: gray;
}

nav{
    background-color: white;
}

main{
    margin: 0;
}

#pianoContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: baseline;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}
