@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Lora:wght@400;500&display=swap');
:root {
  --text-color: rgb(245, 245, 224);
}

body{
    background-image: url('./photos/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

header{
    background-color: rgba(255, 255, 255, 0.145);
    color: var(--text-color);
    text-shadow: 1px 1px 2px black;
}

nav{
    background-color: rgba(0, 0, 0, 0.364);
}

nav a{
    margin: 0 1%;
    color: var(--text-color);
    text-shadow: 1px 1px 2px black;
}

main{
    margin: 0;
}

#pianoContainer{
    background-color: rgba(47, 47, 47, 0.707);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    width: 87%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 2%;
}

#octaveSelection{
    margin-left: 3%;
    width: 91%;
    display: flex;
    justify-content: space-around;
}

.octaveDropdown{
    display: inline-block;
}

.octaveDropdown button{
    width: 150%;
    background-color: rgba(0, 0, 0, 0.278);
    color: var(--text-color);
    display: block;
}

.dropdownContent{
    opacity: 0;
    pointer-events: none;
}

.dropdownMenu:hover + .dropdownContent,
.dropdownContent:hover {
    opacity: 1;
    pointer-events: all;
}

#headerImages{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}

#headerImages img{
    width: 2%;
    height: 2%;
}

.jump1{
    animation: noteJump1 2s infinite ease-in-out;
}

.jump2{
    animation: noteJump2 2s infinite ease-in-out;
}

#headerImages img:nth-child(odd){
    --rot: 5deg;
}

#headerImages img:nth-child(even){
    --rot: -5deg;
}

@keyframes noteJump1{
    0%{

    }
    50%{
        transform: translateY(0%) rotate(0deg);
    }
    70%{
        transform: translateY(-10%) rotate(var(--rot));
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes noteJump2{
    0%{
        transform: translateY(0%) rotate(0deg);
    }
    40%{
        transform: translateY(-10%) rotate(var(--rot));
    }
    60%{
        transform: translateY(0%);
    }
    100%{

    }
}

#howToUse, #howItWorks{
    display: block;
    text-align: left;
    margin-bottom: 5%;
    margin-left: 2.5%;
    font-size: large;
    color: var(--text-color);
    text-shadow: 1px 1px 2px black;
    background-color: rgba(0, 0, 0, 0.519);
    padding: 2%;
    border-radius: 5%;
}

#settings{
    display: block;
    text-align: left;
    margin-left: 2.5%;
    margin-bottom: 10%;
}